
.header{
    margin: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
    margin: 0;
}
.company-logo{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: transform 0.3s ease
}
.company-logo:hover {
    transform: scale(1.1);
}
.navigation{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.nav{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all ease .5s;
}
.nav:hover{
    font-size: 2rem;
    transform: scale(1.5);
    filter: drop-shadow(0 0 15px #546c9c);
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
}
.evo_logo{
    z-index: 1;
    position: absolute;
    width: 200px;
    height: auto;
    bottom: 0px;
    left: 100px;
    transform: translateX(-20%);
    transition: all 0.3s ease;
}
.evo_logo:hover {
    transform: translateX(20%) scale(1.1);
}
.container {
    position: relative;
    height: 100vh;
}
.image-container {
    flex: 0 0 40%;
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 30%;
}
.image{
    max-width: 100%;
    height: auto;
    position: relative;
    top: 40px;
    left: 30px;
    transition: all 0.3s ease;
}
.image:hover{
    transform: translateX(30%) scale(1.1);
}
.content{
    padding: 20px;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1{
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    text-shadow: 8px 0px 8px red;
    margin-bottom: 10px;
}
.content p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    text-shadow: 5px 0px 5px red;
}
.role{
    font-size: 50px;
    color: rgb(255, 250, 239);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    text-shadow: 0 0 7px #fff, 0 0 42px #004890;
    display: flex;
    align-items: center;
}
.type{
    width: 5rem;
    padding-right: 10px;
    transition: all 0.5s ease;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
.type:hover{
    animation-name: shake;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}